/taller5-1/Tallern/target/
/taller 5lab/Tallern/target/
/esqueleto/Tallern/target/
/taller6punto2/Tallern/target/
/torres de hanoi/Tallern/target/
/parcial/Tallern/target/
/arbol/Tallern/target/
/taller 7vercion2/Tallern/target/
/talle7veciom2/Tallern/target/
